#container {
	width: 1200px;
	height: 600px;
	position: fixed;
	background: white;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	border: #000 solid 8px;
}
#gestureCount {
	width: 50px;
	height: 50px;
	border: #000 solid 4px;
	background: gray;
	position: fixed;
	top: 150px;
	left: 0px;
}
div.fixed {
	position: fixed;
	bottom: 0px;
	right: 100px;
}
p.taskQ {
	position: relative;
	top: 0px;
	left: 0px;
	text-align: left;
	width: 800px;
}
select.menu {
	position: absolute;
	top: 28px;
	left: 210px;
}
div.instruction {
	position: relative;
	top: -8px;
	left: 0px;
	width: 270px;
	z-index: 1;
}
button.buttonenter {
	position: absolute;
	top: 71px;
	left: 290px;
}
div.numofwords {
	position: absolute;
	top: 68px;
	left: 380px;
}
button.buttonShow {
	position: fixed;
	top: 120px;
	left: 0px;
}
p.showmovement {
	position: fixed;
	top: 130px;
	left: 30px;
}